---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getUniqueTagsWithCount } from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const tags = getUniqueTagsWithCount(posts);
---

<Layout title={`Etiquetas | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle="Etiquetas"
    pageDesc="Todas las etiquetas usadas en los artículos."
  >
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName, count }) => (
        <Tag tag={tag} tagName={tagName} count={count} showIcon={true} />
      ))}
    </ul>
  </Main>
  <Footer />
</Layout>
